<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACgFoLyTsEcxlE8odn36LjdhtdEW1ht34</string>
	<key>GCM_SENDER_ID</key>
	<string>630723947096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourteam.gestalts</string>
	<key>PROJECT_ID</key>
	<string>gestalts-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>gestalts-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:630723947096:ios:6c564c1d9213c07375b82d</string>
	<key>DATABASE_URL</key>
	<string></string>
</dict>
</plist>